# Pysics engine
mujoco==2.3.7
# pybullet # it should be added later

# Reinforcement learning
torch==2.0.1+cu118 -f https://download.pytorch.org/whl/torch_stable.html
tensorflow>=2.11.0
stable-baselines3

# Visualization
matplotlib
seaborn
tensorboard

# Data processing
numpy
scipy
pandas
scikit-learn

# Vectorized
ray[rllib]>=2.6.0

# etc. utils
dm_control
pyyaml>=6.0
wget
gitpython